importing libraries
reading the dataset
label - 
one hot encoding  -

In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv(r"D:\pythongriet\Churn_Modelling.csv")

In [3]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,225,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,629,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
dataset.isnull().any()

RowNumber          False
CustomerId         False
Surname            False
CreditScore        False
Geography          False
Gender             False
Age                False
Tenure             False
Balance            False
NumOfProducts      False
HasCrCard          False
IsActiveMember     False
EstimatedSalary    False
Exited             False
dtype: bool

In [ ]:
dataset.fillna(dataset['CreditScore'].mean(),inplace = True)

In [ ]:
dataset.isnull().any()

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
dataset['Geography'] = le.fit_transform(dataset['Geography'])
dataset['Gender'] = le.fit_transform(dataset['Gender'])

In [ ]:
dataset

In [ ]:
dataset

In [ ]:
dataset.head()

In [ ]:
x = dataset.iloc[:,3:13]
y =  dataset.iloc[:,13]

In [ ]:
x = dataset.iloc[:,3:13].values
y =  dataset.iloc[:,13].values

x['creditcard','geender',.......'estimated salary']
x[germany,framce,spain,credit,gender,......,estimatedsalary]
x[[0 ,0 ,creditcardscore,gender... edtimated salaary]',
  [0,0,1,..............]
'


y ['exited']

In [ ]:
#dataset.drop(['Surname','CustomerId'],axis = 1,inplace = True)
from sklearn.preprocessing import OneHotEncoder
one = OneHotEncoder(categorical_features = [1])
x = one.fit_transform(x).toarray()

In [ ]:
x

from sklearn.preprocessing import OneHotEncoder
one = OneHotEncoder()
z = one.fit_transform(x[:,1:2]).toayyay()
x = np.delete(x,1,axis = 1)
x = np.concatenate((z,x),axis = 1)

In [ ]:

x.shape

In [ ]:
x  = x[:,1:]

In [ ]:
x.shape

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2, random_state = 0)

In [ ]:
x_train.shape

In [ ]:
y_train.shape

In [ ]:
y_test.shape

In [ ]:
x_test.shape

In [ ]:
x_train

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [ ]:
x_train.shape

steps of neural network implementaation:
1st step : including the libraries
2nd step : initialise the model
3rd step : insert input layer - weights, intialise input nodes, activationn 
4th step : insert hidden layer - weights, intialise input nodes, activationn
5t  step : insert output layer - weights, intialise input nodes, activationn
6th step : compiling - sgd ,adam , loss = binary_cross entropy , categoricl _cross entropy, rootmean squre , acuuray
7th step : training  - train
8th step : prediction

# x-mean/std 619 - mean/std

In [ ]:
import keras 
from keras.models import Sequential
from keras.layers import Dense

In [ ]:
classifer = Sequential()

In [ ]:
classifer.add(Dense(units = 11, init = 'uniform', activation = 'relu'))

In [ ]:
classifer.add(Dense(units = 6, init = 'uniform', activation = 'relu'))

In [ ]:
classifer.add(Dense(units = 1, init = 'uniform', activation = 'sigmoid'))

In [ ]:
classifer.compile(optimizer = "adam", loss = "binary_crossentropy", metrics = ["accuracy"])

In [ ]:
classifer.fit(x_train,y_train, batch_size = 16, epochs = 100)

In [ ]:
y_pred = classifer.predict(x_test)

In [ ]:
y_pred1 = classifer.predict(x_test)

In [ ]:
y_pred = (y_pred>0.5)

In [ ]:
y_pred.shape

In [ ]:
y_pred[60]

In [ ]:
y_test[60]

In [ ]:
y_p = classifer.predict(sc.transform(np.array([[1,0,75,0,25,2,400000,4,1,1,500000]])))

In [ ]:
y_p = y_p>0.5

In [ ]:
y_p

In [ ]:
y_p = classifer.predict(sc.transform(np.array([[1,0,75,0,25,2,40000,4,1,1,50000]])))

In [ ]:
y_p

In [ ]:
from sklearn.metrics import accuracy_score
a = accuracy_score(y_pred , y_test)

In [ ]:
a

In [ ]:
y_test.shape

In [ ]:
from sklearn.metrics import confusion_matrix
cm  = confusion_matrix(y_test,y_pred)

In [ ]:
cm

tpr = 0.965
fpr = 0.624

In [3]:
import sklearn.metrics as metrics
fpr, tpr, threshold = metrics.roc_curve(y_test, y_pred)
roc_auc = metrics.auc(fpr, tpr)

import matplotlib.pyplot as plt
plt.title('Receiver Operating Characteristic')
plt.plot(fpr, tpr, 'b', label = 'AUC = %0.2f' % roc_auc)
plt.legend(loc = 'lower right')
plt.plot([0, 1], [0, 1],'r--')
plt.xlim([0, 1])
plt.ylim([0, 1])
plt.ylabel('True Positive Rate')
plt.xlabel('False Positive Rate')
plt.show()

NameError: name 'y_test' is not defined

In [ ]:
roc_auc

In [ ]:
threshold

In [ ]:
fpr

In [ ]:
tpr